{% extends "index.tmpl" %}
{% block content %}

| Name              | Description                          | Guidance |
| :---------------- | :----------------------------------- | :------- |
{% for p in profiles -%}
| {{p["name"]}} | {{p["description"]}}  | |
{% endfor %}

{% endblock %}